####################################
# Symfony / PHP
####################################

/vendor/
/var/
.phpunit.result.cache

####################################
# Environment variables (SECRETS)
####################################

.env.local
.env.*.local

####################################
# Cache / logs
####################################

*.log

####################################
# IDE / OS
####################################

.idea/
.vscode/
.DS_Store
Thumbs.db

####################################
# Node / Frontend (future-proof)
####################################

/node_modules/

####################################
# Docker (runtime data only)
####################################

/docker-data/
